
@media (hover) {
  a {
    cursor: pointer;
  }

  #logo:hover {
    opacity: 80%;
  }

  .nav > a:hover {
    opacity: 80%;
  }

  .footer-icon:hover {
    opacity: 80%;
  }

  .project > a:hover {
    opacity: 80%;
  }

  #large-nav {
    a:hover {
      opacity: 80%;
    }
  }
}

@media screen and (width >= 500px) {
  #resume {
    h2 {
      font-size: 32px;
    }

    p {
      font-size: 20px;
    }

    #resume-options *,.resume-text-normal {
      font-size: 1.5rem;
    }
  }
}

@media screen and (width >= 600px) {
  h2 {
    font-size: 2rem;
  }

  #hero {
    p {
      font-size: 1.5rem;
      width: 14rem;
    }
  }

  #about, #footer {
    p {
      font-size: 1.25rem;
    }
  }

  #project {
    #project-contents {
      align-self: center;
      width: 90%;
    }
  }

  #project-description {
    div {
      flex-direction: row;

      h3 {
        margin: 0;
      }
    }
  }
}

@media screen and (width >= 650px) {

  .project {
    align-items: center;
    display: grid;
    column-gap: 24px;
    grid-template-areas:
    "a a a a a b b b";
    grid-template-columns: repeat(8, 1fr);
    background-color: var(--tan);
    padding: 2rem 2rem;
    width: 100vw;

    img {
      grid-area: a;
      width: 100%;
    }

    .description {
      align-items: baseline;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      grid-area: b;
      justify-items: space-around;
      text-align: left;
      width: 100%;
    
      p {
        margin: 0;
      }
    
      a {
        background-color: var(--brown);
        border-radius: 1rem;
        color: var(--cream);
        margin: 1rem 0 0 0;
        padding: 1rem 3rem;
        text-decoration: none;
      }
    }

    &:nth-child(2) {
      background-color: var(--cream);
      grid-template-areas:
      "a a a b b b b b";

      img {
        grid-area: b;
        width: 100%;
      }

      .description {
        align-items: flex-end;
        grid-area: a;
        text-align: right;
      }
    }
  }

  #resume-title {
    flex-direction: row;
    margin-top: 1rem;
    overflow: auto;
    width: 80%;

    h1, h3 {
      margin: 0;
    }

    h3 {
      align-self: flex-end;
    }

    hr {
      height: 2px;
      margin-top: 1rem;
      width: 20vw;
    }
  }
}

@media screen and (width >= 800px) {

  h1 {
    font-size: 3rem;
  }

  h2 {
    font-size: 40px;
  }

  h3 {
    font-size: 32px;
    line-height: 1.5em;
  }

  h4 {
    font-size: 24px;
  }

  #hero {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: left;
    padding: 0 4rem;

    h1 {
      font-size: 4rem;
    }
  
    p {
      margin: 1rem 0;
      width: 100%
    }

    #headshot {
      height: auto;
      width: 35vw;
    }
  }

  .project {
    .description {
      max-width: 350px;
      h2 {
        font-size: 2rem;
      }
    }
  }

  #project {
    #project-description {
      h3 {
        width: 15rem;
        margin: 0 1rem;
        font-size: 1.5rem;
      }
    }
  }

  #resume-title, #resume-options {
    h1 {
      font-size: 2rem;
    }

    h3 {
      font-size: 20px;
    }
  }

   #resume {
    h2 {
      font-size: 32px;
    }

    p {
      font-size: 20px;
    }

    #resume-contents {
      justify-content: center;
      display: grid;
      grid-template-columns: repeat(2, 40%);
      gap: 2rem 2rem;

      .resume-section {
        align-items: center;
      }
    }
  }

  #creative {
    h3 {
      font-size: 1.5rem;
      width: 85%;
    }

    #art-design > div, #photography > div {
      grid-template-columns: repeat(3, 1fr);
    }

    #animation > div {
      column-gap: 1rem;
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

@media screen and (width >= 850px) {
  #about, #about-thai {
    flex-direction: row;
    gap: 2rem;

    .sixty {
      width: 60%;
    }

    .fourty {
      width: 40%;
    }
  }

  #about-thai {
    h1 {
      font-size: 4rem;
      text-align: left;
    }

    .thai-character {
      font-size: 6rem;
    }
  }
}

@media screen and (width>=900px) {
  html {
    --nav-height: 5rem
  }

  header {
    #logo {
      width: 5rem;
    }

    label {
      display: none;
    }

    #large-nav {
      display: inline;
    }
  }

  #resume-title {
    h1 {
      font-size: 3rem;
    }

    h3 {
      font-size: 32px;
    }
  }

  #footer {
    height: 6rem;
    p {
      font-size: 1.5rem;
    }
  }
}

@media screen and (width >= 950px) {
  #project {
    #project-contents {
      width: 855px;
    }
  }

  .two-column {
    display: grid;
    align-items: flex-start;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;

    img {
      object-fit: contain;
      width: 95%;
    }
  }

  #creative {
    #art-design > div, #photography > div, #animation > div {
      width: 855px;
    }
  }
}

@media screen and (width >= 1200px) {
  #hero {
    h1 {
      font-size: 5rem;
    }
  }

  .project {
    .description {
      h2 {
        font-size: 2.5rem;
      }
    }
  }

  #resume {
    #resume-contents {
      grid-template-columns: repeat(3, 25%);
    }
  }

  #about {
    .fourty {
      width: 450px;
    }
  }
}