@font-face {
  font-family: Inter;
  src: url(/fonts/Inter/Inter-VariableFont_opsz\,wght.ttf);
}

@font-face {
  font-family: Gloock;
  src: url(/fonts/Gloock/Gloock-Regular.ttf);
}

@font-face {
  font-family: Noto-Sans-Thai;
  src: url(/fonts/NotoSansThai-VariableFont_wdth\,wght.ttf);
}

* {
  box-sizing: border-box;
}

html {
  --brown: #47392C;
  --cream: #FFFCE8;
  --tan: #FFF1D6;

  --background-color: var(--cream);


  --nav-height: 4rem;
  --footer-margin: 2rem;
}

body {
  background-color: var(--background-color);
  margin-top: var(--nav-height);
  font-family: Inter;
}

header {
  background: var(--background-color);
  height: var(--nav-height);
  width: 100%;

  position: fixed;
  left: 0;
  top: 0;

  #logo {
    width: 4rem;
  }

  #logo:hover {
    opacity: 90%;
  }

  label {
    cursor: pointer;
    height: 27px;
    position: absolute;
    right: 1.1rem;
    top: 1.1rem;
    width: 2rem;
    z-index: 1001;

    span {
      background-color: var(--brown);
      border-radius: 2px;
      display: block;
      height: 3px;
      position: absolute;
      width: 100%;

      transform-origin: left;

      &:nth-child(1) {
        top: 0;
      }

      &:nth-child(2) {
        top: 12px;
      }

      &:nth-child(3) {
        top: 24px;
      }
    }
  }

  nav {
    background: var(--background-color);
    height: 100vh;
    margin-block-start: var(--nav-height);
    width: 300px;

    position: fixed;
    right: -300px;
    top: 0;
    z-index: 1000;

    ul {
      list-style: none;
      margin: 0;
      padding: 0;

      li {
        padding: 0;

        a {
          color: var(--brown);
          display: block;
          font-size: 1.25rem;
          padding-block: 1rem;
          padding-inline: 1rem;
          text-align: center;
          text-decoration: none;

          &:hover {
            opacity: 70%;
          }
        }
      }
    }
  }
}

.nav-toggle:checked ~ nav {
  right: 0;
}

.nav-toggle:checked ~ .nav-toggle-label span:nth-child(1) {
  right: -0.75rem;
  transform: rotate(45deg);
  top: -3px;
}

.nav-toggle:checked ~ .nav-toggle-label span:nth-child(2) {
  opacity: 0;
}

.nav-toggle:checked ~ .nav-toggle-label span:nth-child(3) {
  right: -0.75rem;
  transform: rotate(-45deg);
    top: 1.2rem;
}






